<script type="text/javascript">
    RED.nodes.registerType('tibbit-06',{
        category: 'thebreadboardca',
        color: '#9370DB',
        defaults: {
            name: {value:""},
            slot: {value:"", required:true}
        },
        inputs:1,
        outputs:0,
        icon: "file.png",
        label: function() {
            return this.name||"Tibbit-06";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
    });
</script>

<script type="text/x-red" data-template-name="tibbit-06">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-slot"><i class="icon-tag"></i> Slot</label>
        <input type="text" id="node-input-slot" placeholder="Sxx">
    </div>
</script>

<script type="text/x-red" data-help-name="tibbit-06">
    <p>A simple node to interface with a Tibbit Module type 06 (2 High Power Relays)</p>
    <p>Topic is Channel, Value is State (1, 0)</p>
</script>
