<script type="text/javascript">
    RED.nodes.registerType('tibbit-14',{
        category: 'thebreadboardca',
        color: '#9370DB',
        defaults: {
            name: {value:""},
            slot: {value:"", required:true}
        },
        inputs:1,
        outputs:0,
        icon: "file.png",
        label: function() {
            return this.name||"Tibbit-14";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
    });
</script>

<script type="text/x-red" data-template-name="tibbit-14">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-slot"><i class="icon-tag"></i> Slot</label>
        <input type="text" id="node-input-slot" placeholder="Sxx">
    </div>
</script>

<script type="text/x-red" data-help-name="tibbit-14">
    <p>A simple node to interface with a Tibbit Module type 14 (4ch DAC)</p>
    <p>Topic is Channel, Payload is value (-10.00V to +10.00V)</p>
</script>
